[Unit]
Description=Systemd Auto Start Daemon
After=rc-local.service

[Service]
Type=simple
WorkingDirectory=/home/pi
ExecStart=sh /home/pi/auto.sh
Restart=always
StandardOutput=journal
StandardError=journal
TTYPath=/dev/ttyS0

[Install]
WantedBy=multi-user.target
