[Unit]
Description= Python auto Start
After=rc-local.service

[Service]
Type=idle
WorkingDirectory=/home/myir
#ExecStart=/home/myir/auto.sh
ExecStart=/usr/bin/python3 -u  /home/myir/slcmain.py
Restart=always
User=myir
Group=root

[Install]
WantedBy=multi-user.target
