[Unit]

Description=Systemd Test Daemon



[Service]
Type=oneshot
ExecStart=sh /home/myir/auto.sh
#ExecStart=sh /home/myir/auto1.sh
Restart=on-failure
StandardOutput=tty
TTYPath=/dev/ttyS0

[Install]
WantedBy=multi-user.target
